#proffesionals {
    .underline {
        border-bottom: 3px #FF0066 solid;
    }
    h3 {
        text-align: center;
        font-size: 36px;
        color: #000000;
        line-height: 22px;
        font-family: open-sans, sans-serif;
        font-weight: 700;
        padding-top: 105px;
    }
    .carousel-inner {
        max-width: 800px;
        margin: 0 auto;
    }
    .carousel-control {
        background-image: unset;
        span {
            color: #000;
        }
    }
}