#about-us {
    margin-top: 100px;
    background-color: white;
    position: relative;
    top: 7.2vh;
    .row:nth-child(2) {
        display: flex;
        justify-content: center;
    }
    .underline {
        border-bottom: 3px #FF0066 solid;
    }
    h3 {
        text-align: center;
        font-size: 36px;
        color: #000000;
        line-height: 22px;
        font-family: open-sans, sans-serif;
    }
    .description {
        margin-top: 20px;
        max-width: 560px;
        p {
            text-align: center;
        }
    }
    .left-side {
        background-image: url('../img/about-us/thumb-up.png');
        background-repeat: no-repeat;
        background-size: auto;
        max-width: 600px;
        height: 500px;
        margin-top: 25px;
        background-size: cover;
        background-position: center;
    }
    .right-side {
        .feedback-btn {
            display: flex;
            margin-top: 100px;
            margin-left: 14vw;
            a {
                color: #fff;
                text-align: center;
                font-size: 14px;
                letter-spacing: 1px;
                font-family: open-sans, sans-serif;
                font-weight: 600;
                border: 3px #FF0066 solid;
                background-color: #FF0066;
                padding: 10px 20px 10px 20px;
                &:hover {
                    background-color: #fff;
                    border: 3px #FF0066 solid;
                    color: #000;
                    text-decoration: none;
                }
            }
        }
    }
    .carousel-control {
        color: #000;
        text-shadow: unset;
    }
    .carousel-caption {
        left: 13%;
        p {
            text-align: center;
            font-size: 16px;
            line-height: 22px;
            font-family: open-sans, sans-serif;
            font-weight: 400;
            font-style: italic;
            color: #000;
        }
        small {
            font-size: 14px;
            text-align: center;
            color: #7F7F7F;
            font-style: italic;
            display: block;
        }
    }
    .carousel-indicators {
        display: none;
    }
    .carousel-caption {
        color: #000;
        text-shadow: unset;
        text-align: left;
    }
    .carousel {
        top: 12vh;
    }
    #carousel2 {
        .carousel-inner>.item.active {
            height: 300px;
        }
        .carousel-control {
            background-image: unset;
        }
    }
}