#gallery {
    .underline {
        border-bottom: 3px #FF0066 solid;
    }
    h3 {
        text-align: center;
        font-size: 36px;
        color: #000000;
        line-height: 22px;
        font-family: open-sans, sans-serif;
        font-weight: 700;
        padding-top: 105px;
    }
    .one {
        background: url('../img/gallery/01.jpg');
        background-repeat: no-repeat;
        background-size: auto;
        width: 330px;
        height: 330px;
        margin-top: 25px;
        background-size: cover;
        background-position: center;
        cursor: pointer;
        i {
            color: white;
            font-size: 80px;
            position: absolute;
            top: 23vh;
            left: 10vw;
            display: none;
        }
        &:hover i {
            display: block;
        }
        &:hover::before {
            content: '';
            width: 330px;
            height: 330px;
            background-color: #000;
            opacity: 0.5;
            position: absolute;
        }
    }
    .two {
        @extend .one;
        background-image: url('../img/gallery/02.jpg');
        background-position: unset;
    }
    .three {
        @extend .one;
        background-image: url('../img/gallery/03.jpg');
        background-position: unset;
    }
    .four {
        @extend .one;
        background-image: url('../img/gallery/04.jpg');
        background-position: unset;
    }
    .five {
        @extend .one;
        background-image: url('../img/gallery/05.jpg');
        background-position: unset;
    }
    .six {
        @extend .one;
        background-image: url('../img/gallery/06.jpg');
        background-position: unset;
    }
}

@media screen and (max-width: 767px) {
    #gallery {
        .one,
        .two,
        .three,
        .four,
        .five,
        .six {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            i {
                top: unset;
                left: unset;
            }
            &:before {
                width: 95% !important;
            }
        }
        h3 {
            font-size: 24px;
        }
    }
}