.more-information {
    width: 460px;
    padding: 70px 60px 74px;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    left: 18.9vw;
    margin-top: 48px;
    h4 {
        text-align: center;
        font-size: 30px;
        line-height: 39px;
        font-family: open-sans, sans-serif;
        font-weight: 400;
        color: #000;
        span {
            color: #FF0066;
            font-weight: 700;
        }
    }
    p {
        font-size: 14px;
        line-height: 17px;
        word-wrap: break-word;
        text-align: center;
        padding: 20px 0px 10px 0px;
    }
    h2 {
        text-align: center;
        font-size: 36px;
        letter-spacing: 1px;
        line-height: 43px;
        font-family: open-sans, sans-serif;
        font-weight: 400;
        color: #000;
        span {
            font-size: 30px;
            line-height: 36px;
        }
    }
}

iframe .i4ewOd-pzNkMb-haAclf {
    display: none;
}