#proffesionals {
    .underline {
        border-bottom: 3px #FF0066 solid;
    }
    h3 {
        text-align: center;
        font-size: 36px;
        color: #000000;
        line-height: 22px;
        font-family: open-sans, sans-serif;
        font-weight: 700;
        padding-top: 35px;
    }
    .carousel-indicators {
        bottom: -50px;
    }
    .carousel-indicators li {
        border: 2px solid #000;
        width: 15px;
        height: 15px;
    }
    .carousel-indicators .active {
        background-color: #000;
        width: 17px;
        height: 17px;
    }
    .carousel-caption {
        color: #000;
        text-shadow: unset;
        text-align: left;
    }
    .carousel-inner {
        max-width: 800px;
        margin: 0 auto;
        .item {
            img {
                width: unset;
                height: 350px;
                margin-left: 6%;
                margin-bottom: 5%;
            }
            h4 {
                font-size: 14px;
                font-weight: 600;
                word-wrap: break-word;
                line-height: 17px;
                letter-spacing: 1px;
                font-family: open-sans, sans-serif;
            }
            h5 {
                font-size: 14px;
                font-weight: 600;
                word-wrap: break-word;
                line-height: 17px;
                letter-spacing: 1px;
                font-family: open-sans, sans-serif;
            }
            a {
                text-align: center;
                font-size: 14px;
                letter-spacing: 1px;
                font-family: open-sans, sans-serif;
                font-weight: 400;
                text-decoration: none;
                color: #000;
                border: 3px #000 solid;
                padding: 8px 15px 5px 15px;
                &:hover {
                    background-color: #000;
                    color: #fff;
                }
            }
        }
    }
    .carousel-control {
        background-image: unset;
        span {
            color: #000;
        }
    }
}

#proffesionals .carousel-inner .item:before {
    content: '';
    background-color: #000;
    width: 285px;
    height: 285px;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 100px;
    z-index: -1;
    left: 0;
}

@media screen and (min-width: 768px) {
    .carousel-caption {
        right: 5%;
        left: 46%;
    }
}

@media screen and (max-width: 767px) {
    #proffesionals .carousel-inner .item:before {
        display: none;
    }
    #proffesionals {
        h3 {
            font-size: 24px;
            margin-bottom: 30px;
        }
        .carousel-inner {
            max-width: 315px;
            .item img {
                margin: 0 auto;
            }
        }
        .carousel-caption {
            display: none;
        }
        .carousel-control {
            display: none;
        }
    }
}